<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rodjer</title>
    <link rel="icon" href="../static/img/favicon.jpeg">
    <link rel="stylesheet" href="../static/css/rodjer.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/rodjer.js"></script>
</head>
<body>
    <header class="nav-block">
        <img src="../static/img/logotype.JPG" alt="">
        <ul class="nav-bar">
            <li><a href="#" class="nav-el">О нас</a></li>
            <li><a href="#" class="nav-el">Услуги и цены</a></li>
            <li><a href="#" class="nav-el">Специалисты</a></li>
            <li><a href="#" class="nav-el">Филиалы</a></li>
            <li><a href="#" class="nav-el">Клиентам</a></li>
            <li><a href="#" class="nav-el">Контакты</a></li>
        </ul>
        <a href="#" class="btn-show-appointment">записаться на прием</a>             <!--записаться на прием-->
        <a href="#" class="private-office">Личный кабинет</a>
    </header>
    <div class="appointment-bg">
        <div class="window-appointment">
            <div class="appointment-input-date">
                <p>Запись на прием</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7a7ab45381257b711096feda5b73f92f0f65cf84fc61792c5d115e801f69ce50&amp;width=400&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script>
    <iframe width="450" height="320" src="https://www.youtube.com/embed/f6GI-qpgUok?list=WL" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>